.container-balances {
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 330px;
    background-color: var(--color-white);
    border-radius: 10px;
    padding: 20px 5px;
    margin: 20px 5px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.4);
}

.balances-label,
.balances-number {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.balances-label p,
.balances-number p {
    font-size: 1.2rem;
}

.balances-total {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: flex-end;
}