@media (max-width: 820px) {
    * {
        font-size: 14px
    }

    .container-footer>.footer-copyright {
        flex-direction: column;
        text-align: center;
    }

    .footer-no-display {
        display: none;
    }

}

@media (max-width: 420px) {
    * {
        font-size: 12px
    }

    .form-style {
        width: 90%;
    }
}