.container-options {
    width: fit-content;
    background-color: var(--color-white);
    border-radius: 10px;
    padding: 20px 5px;
    margin: 20px 5px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.4);
}

.menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}