table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    text-align: center;
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.tools {
    display: flex;
    justify-content: center;
    gap: 15px;
}

th {
    font-size: 1.3rem;
    color: var(--color-white);
}

th,
td {
    padding: 12px;
}

thead tr {
    background-color: var(--color-black-blue);
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: var(--color-grey-1);
}

tbody tr:nth-child(odd) {
    background-color: var(--color-grey-2);
}

td.title {
    display: flex;
    align-items: center;
    border: none;
}